*{
	font-family: 'FreeSans';
	font-weight: bold;
	min-height: 0;
	font-size: 96%;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	}
	
	#window {
		background-color: rgba(50, 50, 50, 0.6);
		border-radius: 8px;
	}
	
	#outer-box {
		padding: 10px;
	}
	
	#input {
		background-color: rgba(50, 50, 50, 0.6);
		/*border: 1px solid #1e1e2e;*/
		padding: 4px 6px;
		color: #ffffff;
	}
	
	#scroll {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	#inner-box {
		border-radius: 8px;
	}
	
	#img {
		padding-right: 5px;
	}
	
	#text {
		color: white;
	}
	
	#text:selected {
		color: rgb(0, 0, 0);
	}
	
	#entry {
		padding: 3px;
	}
	
	#entry:selected {
	
		background: #21b1fe9f;
		border-radius: 8px;
	
	}
	
	#unselected {
	}
	
	#selected {
	}
	
	#input, #entry:selected {
		border-radius: 10px;
		border: 1px solid #b4befe;
	}
	